:root {
  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-desaturated-cyan: #25564b; /* graphic text */
  --dark-blue: #19536b; /* photography text */
  --dark-moderate-cyan: #458c7e; /* footer text*/
  --light-cyan: #90d4c5;

  --hover: #6fcfff;

  --very-dark-desaturated-blue: #23303e;
  --very-dark-grayish-blue: #5a636c;
  --dark-grayish-blue: #818498;
  --grayish-blue: #a7abae;
  --white: #ffffff;

  --ff-barlow: 'Barlow', sans-serif;
  --ff-fraunces: 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  font-family: var(--ff-barlow);
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
}

/* Styles for Header */
header {
  height: 85vh;
  background: url(../images/desktop/image-header.jpg) no-repeat center/cover;
}

nav,
.nav-links {
  display: flex;
  align-items: center;
}

nav {
  padding-block: 33px;
  justify-content: space-between;
  position: relative;
}

.nav-links {
  gap: 44px;
}

.nav-links li a {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.nav-links li .nav-cta {
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  font-size: 0.889rem;
  text-transform: uppercase;
  padding: 16px 22px;
  border-radius: 28px;
  transition: all 0.2s ease;
}

.nav-links li .nav-item::after {
  content: '';
  position: absolute;
  bottom: -0.556rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--yellow);
  border-radius: 20px;
  transition: width 0.4s ease;
}

.nav-links li:hover .nav-item::after {
  width: 100%;
}

.nav-links li:hover .nav-cta {
  background-color: var(--hover);
  color: var(--white);
}

nav .hamburger {
  display: none;
  background-color: transparent;
}

.hero-title {
  color: var(--white);
  font-family: Fraunces;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 11.88px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
}

.arrow {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5.278rem;
}

.arrow img {
  animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}

/* Styles for Footer  */
footer {
  background-color: var(--light-cyan);
  padding-block: 3.944rem;
}

footer .container,
footer .nav-links-footer,
footer .social-icons {
  display: flex;
  align-items: center;
}

footer .container {
  flex-direction: column;
}

[aria-label='Footer navigation'] {
  margin-top: 2.333rem;
}

.nav-links-footer {
  gap: 3.222rem;
}

.nav-links-footer a {
  color: var(--dark-moderate-cyan);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links-footer li:hover a,
.social-icon:hover {
  color: var(--white);
}

footer .social-icons {
  gap: 1.5rem;
  margin-top: 4.778rem;
}

.social-icon {
  color: var(--dark-desaturated-cyan);
  transition: color 0.3s ease;
}

/* Styles for screens up to 1024px */
@media screen and (max-width: 1024px) {
  .container {
    padding-inline: 1rem;
  }
}

/* Styles for tablets in portrait mode */
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  header {
    background: url(../images/mobile/image-header.jpg) no-repeat center/cover;
    height: 70vh;
  }

  nav .hamburger {
    display: block;
  }

  nav .nav-links {
    max-width: 329px;
    width: 100%;
    padding-block: 2.222rem;
    flex-direction: column;
    gap: 1.778rem;
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
  }

  nav .nav-links.show {
    top: 6rem;
    opacity: 1;
    visibility: initial;
  }

  nav .nav-links::before {
    content: '';
    position: absolute;
    right: 0;
    top: -1.333rem;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-bottom: 24px solid var(--white);
  }

  .nav-links li a {
    color: var(--dark-moderate-cyan);
    font-size: 1.111rem;
  }

  .nav-links li .nav-cta {
    background-color: var(--yellow);
    font-size: 0.889rem;
    padding: 16px 22px;
  }

  .nav-links li .nav-item::after {
    content: none;
    display: none;
  }

  .hero-title {
    max-width: 675px;
    margin-inline: auto;
  }

  [aria-label='Footer navigation'] {
    margin-top: 1.778rem;
  }

  .nav-links-footer {
    gap: 2.5rem;
  }

  footer .social-icons {
    gap: 1.222rem;
    margin-top: 3.889rem;
  }
}

/* Styles for mobile devices */
@media screen and (max-width: 599px) {
  header {
    height: 70vh;
  }

  nav .hamburger {
    display: block;
  }

  nav .nav-links {
    width: 100%;
    padding-block: 2.222rem;
    flex-direction: column;
    gap: 1.778rem;
    position: absolute;
    top: 4rem;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    background-color: var(--white);
    transition: all 0.4s ease-in-out;
  }

  nav .nav-links::before {
    content: '';
    position: absolute;
    right: 0;
    top: -1.333rem;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-bottom: 24px solid var(--white);
  }

  nav .nav-links.show {
    top: 6rem;
    opacity: 1;
    visibility: initial;
  }

  .nav-links li a {
    color: var(--dark-moderate-cyan);
    font-size: 1.111rem;
  }

  .nav-links li .nav-cta {
    background-color: var(--yellow);
    font-size: 0.889rem;
    padding: 18px 22px;
  }

  .nav-links li .nav-item::after {
    content: none;
    display: none;
  }

  .hero-title {
    font-size: 1.778rem;
    letter-spacing: 5.76px;
    line-height: 38px;
    margin-top: 69px;
  }

  .arrow {
    margin-top: 2.333rem;
  }

  [aria-label='Footer navigation'] {
    margin-top: 1.778rem;
  }

  .nav-links-footer {
    gap: 2.5rem;
  }

  footer .social-icons {
    gap: 1.222rem;
    margin-top: 3.889rem;
  }
}

/* Styles for very small devices */
@media screen and (max-width: 320px) {
  .hero-title {
    margin-top: 32px;
  }

  .arrow {
    height: 80px;
    margin-top: 1.111rem;
  }
}
