:root {
  --background-main: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);

  --ff-nunito: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-nunito);
  min-height: 100vh;
  background-color: var(--background-main);
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

input,
select {
  border: none;
  outline: none;
  padding-block: 22px;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 100%;
  padding-inline: 20px;
}

/* -------------------------------------------------------------------------- */
/*                             Styling for Header                             */
/* -------------------------------------------------------------------------- */

.main-header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: var(--element);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* ------------------------------- Navigation ------------------------------- */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  color: var(--text);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.17px;
}

.nav-darkmode {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-darkmode i {
  font-size: 20px;
}

.nav-darkmode span {
  color: var(--text);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* -------------------------------------------------------------------------- */
/*                                 Breakpoint                                 */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
  .nav-brand {
    font-size: 1.4375rem;
    letter-spacing: 0.46px;
  }

  .nav-darkmode i {
    font-size: 20px;
  }

  .nav-darkmode span {
    letter-spacing: 0.45px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 970px;
    margin-inline: auto;
    padding-inline: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
