:root {
  --desaturated-red: #ce9797;
  --soft-red: #f96262;
  --dark-grayish-red: #413a3a;
  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --hover: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 86%));

  --ff-josefin: 'Josefin Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--ff-josefin);
  font-size: 16px;
}

.container {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 83px max-content 1fr;
  grid-template-areas:
    'header'
    'aside'
    'main';
}

.wrapper {
  width: 100%;
  padding-inline: 32px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  background: #ffffff;
}

header img {
  width: 100px;
  height: 21px;
}

aside {
  grid-area: aside;
}

aside img {
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  background: var(--gradient-1);
}

main h1 {
  color: var(--dark-grayish-red);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 10.8px;
  text-align: center;
  text-transform: uppercase;
}

main h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}

main p {
  color: var(--desaturated-red);
  text-align: center;
  font-size: 0.875rem;
  line-height: 22px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 33px;
}

.form-wrapper {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-wrapper.error {
  border: 1px solid var(--soft-red);
  padding-left: 0;
}

.form-wrapper input {
  flex: 1;
  background: transparent;
  outline: none;
  border: none;
  padding-left: 24px;
  color: var(--dark-grayish-red);
  font-family: 'Josefin Sans';
  font-size: 14px;
  line-height: 28px;
}

.form-wrapper input::placeholder {
  color: var(--desaturated-red);
}

.form-wrapper .icon {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.form-wrapper .icon.show {
  opacity: 1;
}

.form-wrapper .icon img {
  width: 100%;
}

#btn-submit {
  width: 70px;
  height: 48px;
  background: var(--gradient-2);
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#btn-submit:hover {
  background: var(--hover);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.error {
  color: var(--soft-red);
  font-size: 13px;
  text-align: start;
  margin-top: 11px;
  padding-left: 24px;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
  }

  .container {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'header aside'
      'main aside'
      'main aside';
  }

  .wrapper {
    max-width: 450px;
    margin-inline: auto;
    padding-inline: 5px;
  }

  header {
    background-color: transparent;
  }

  header img {
    width: 158px;
    height: 33px;
  }

  main {
    background: transparent;
  }

  main h1 {
    font-size: 4rem;
    line-height: 68px;
    letter-spacing: 17.28px;
    text-align: start;
  }

  main p {
    text-align: start;
    font-size: 1rem;
    line-height: 28px;
  }

  .hero-wrapper {
    gap: 22px;
    margin-bottom: 40px;
  }

  .form-wrapper {
    height: 56px;
    gap: 26px;
  }

  .form-wrapper input {
    padding-left: 32px;
    font-size: 1rem;
  }

  #btn-submit {
    width: 100px;
    height: 56px;
  }
}
